*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    display: flex;
    align-items: top;
    justify-content: center;
    height: 200vh;
    width: auto;
    background-color: #c4c4c4;
    font-family: 'Poppins','Inter','Actor';
    margin: 2%;
}

#container-wrapper{
    background-color: #d2b6b6;
    width: 60vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 2.5em;
    font-family: 'Actor';
    padding: 10px 15px;
    text-align: center;
}

.question-header{
    padding: 10px;
}

h3{
    padding:10px;
    text-align: center;
    margin: 0;
    color: white;
}
input{
    margin-left: 45%;
}

label{
    font-family: 'Actor';
    font-weight: 600;
}

#submit-button, #restartQuiz{
    padding:1% 15%;
    margin: 0 30%;
    font-family: 'Inter';
    font-size: 1.5em;
    border-radius: 8px;
    border: 1px;
}


#results-wrapper{
    background-color: #d2b6b6;
    width: 60vw;
    height: 70vh;
    overflow: hidden;
}

.resultsDisplay{
    margin-top: 10%;
    font-size: 3em;
}

#results{
    font-size: 5rem;
    font-weight: 700;
    font-family: "Poppins";
    padding: 10px;
    text-align: center;
}















